.map-container {
	width: 50%;
	height: 400px;
	margin-top: 20px;
	border: 2px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
}
.map-container iframe {
	width: 100%;
	height: 100%;
	border: none;
}
.coordonnees {
	display: grid;
	place-items: center;
}
.carte {
	display: grid;
	place-items: center;
}
.formulaire-contact {
	display: grid;
	place-items: center;
	margin-top: 20px;
}
.avis-clients {
	display: grid;
	place-items: center;
}
.reviews-carousel {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
