:root {
	--primary-color: #d86a4b;
	--secondary-color: #692817;
	--text-color: #692817;
	--bg-color: #f2e6d8;
	--hover-color: #e6b09b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: var(--bg-color);
	color: var(--text-color);
}
footer {
	background-color: var(--primary-color);
	color: white;
	text-align: center;
	padding: 20px;
}
