.hero {
	height: 100vh;
	width: 100%;
	background-image: url("/images/maison-strasbourg.jpg"); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.hero-overlay {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
	align-items: flex-end; 
	padding: 7rem 20rem; 
	color: #f2e6d8;
	text-align: right;
}

.hero-title {
	font-size: 4rem;
	font-weight: 400; 
	font-family: Georgia, "Times New Roman", Times, serif; 
	margin: 0;
}

.hero-branding {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: flex-end;
}

.hero-logo {
	width: 60;
	height: 60px;
	border-radius: 50%; /* cercle */
	border: 2px solid white; /* contour blanc */
	object-fit: cover;
}

.hero-subtitle {
	font-size: 1.8rem;
	margin-top: 1rem;
}
.heart {
	color: #ff6b6b; /* rouge doux */
	font-size: 2rem;
}
.home-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;
  z-index: 50;
}

.home-logo {
  color: white;
  font-size: 24px;
  font-family: Georgia, serif;
}

