.bedroom-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 10px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}
.bedroom-card {
	background-color: #f5f3ee;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s;
}
.bedroom-card:hover {
	transform: translateY(-8px);
	box-shadow: 0 10px 30px rgba(105, 40, 23, 0.2);
}
.bedroom-card img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 15px;
}
.main-title {
	text-align: center;
	padding: 20px;
	margin: 20px;
	font-size: 3rem;
}

.text-content {
	text-align: center;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
	min-width: 400px;
	max-width: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f2e6d8;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.modal-content label {
	display: block;
	margin-bottom: 15px;
}

.modal-content input {
	display: block;
	margin-top: 5px;
}
.start-btn {
	display: block;
	margin: 5px auto 0 auto;
	padding: 5px;
	text-align: center;
	background-color: #e6b09b;
}
.close-btn {
	margin-left: 10px;
}
.close-btn,
.reservation-btn {
	padding: 5px;
	text-align: center;
	background-color: #e6b09b;
}
