.bedroom-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 10px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}
.bedroom-card {
	background-color: #f5f3ee;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s;
}
.bedroom-card:hover {
	transform: translateY(-8px);
	box-shadow: 0 10px 30px rgba(105, 40, 23, 0.2);
}
.bedroom-card img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 15px;
}
.main-title {
	text-align: center;
	padding: 20px;
	margin: 20px;
	font-size: 3rem;
}

.text-content {
	text-align: center;
}
